.side_container {
    -fx-background-color: #2c3fb1;
    -fx-alignment: center;
}

.side_container Text {
    -fx-font-size: 2em;
    -fx-fill: white;
}

.side_container Icon {
    -fx-fill: white;
}

.login_form_container {
    -fx-spacing: 15;
    -fx-alignment: center-left;
}

.login_form_container Label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input_field {
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.password_field {
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.login_form_container Button {
    -fx-text-fill: white;
    -fx-background-color: #2c3fb1;
    -fx-pref-height: 35;
    -fx-pref-width: 350;
    -fx-font-size: 1.2em;
}

.login_form_container Button:hover {
    -fx-cursor: hand;
}

.error_lbl {
    -fx-text-fill: red;
}
